{% extends 'base.html.twig' %}

{% block title %}Jeux de société!{% endblock %}

{% block body %}
    <h1>{{ board_game.name }}</h1>
    {% if board_game.description  %}
        <div>{{ board_game.description }}</div>
    {% else %}
        <div>{{ 'board_game.description.no_value'|trans }}</div>
    {% endif %}
    <dl>
        <dt>{{ 'board_game.released_at.label'|trans }}</dt><dd>{{ board_game.releasedAt | date('d-m-Y') }}</dd>
        {% if board_game.ageGroup  %}
            <dt>{{ 'board_game.age_group.label'|trans }}</dt><dd>{{ board_game.ageGroup}} {{ 'board_game.age_group.display'|trans }}</dd>
        {% endif %}
    </dl>
    <div>{{ 'board_game.author.label'|trans }} {{  board_game.author.email }}</div>
    <div>{% for category in board_game.classifiedIn %}
            {{ category.name}} {% if not loop.last %}, {% endif %}
        {% endfor %}
    </div>
    <a href="{{ path('app_boardgame_index') }}">{{ 'board_game.action.retour_liste'|trans }}</a>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{  path('app_admin_boardgame_edit', {id: board_game.id }) }}">{{ 'board_game.action.edit'|trans }}</a>
    {% endif %}
{% endblock %}
