{% extends 'base.html.twig' %}

{% block title %}Jeux de société!{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>
    {% if category.description  %}
        <div>{{ category.description }}</div>
    {% else %}
        <div>Description en cours de rédaction.</div>
    {% endif %}
    <p>Les jeux ayant cette catégorie:</p>
    <ul>
        {% for game in category.boardGames %}
            <li><a href="{{  path('app_boardgame_show', {id: game.id }) }}">{{  game.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_boardgame_index') }}">Retour à la liste</a>
{% endblock %}
